/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v23-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/montserrat-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing:border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background: url(/ZooMag-main/img/background.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */;
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.wrapper{
    max-width: 1196px;
    margin: 0 auto;

    flex-wrap: wrap;
    align-items: flex-end;

}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 24px;
}
.header_link{
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-shadow: 0 0 0.01em black, 0 0 6em black;

    color: #000000;
    text-decoration: none;
}

.header_link2{
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;


    color: #000000;
    text-decoration: none;
}
.header_link:hover,.header_link:focus, .header_link:active{
    opacity: .75;
}
.header{
    background-color: #ffffff;
}
.call_logo{
    position: absolute;
    width: 27px;
    padding-bottom: 40px;
    height: 24px;
    left: 1240px;
}
.cart_logo{
    position: absolute;
    width: 44px;
    padding-bottom: 50px;
    height: 41px;
    left: 1440px;

}
.main{
    position: absolute;
    width: 1900px;
    height: 900px;
    left: 0px;
    top: 67px;


}